[submodule "sites/all/modules/favorites"]
	path = sites/all/modules/favorites
	url = https://github.com/ConorBaumgart/favorites_module.git
[submodule "sites/all/modules/groceries"]
	path = sites/all/modules/groceries
	url = https://github.com/jillkuchman/groceries
[submodule "sites/all/modules/cards"]
	path = sites/all/modules/cards
	url = https://github.com/jillkuchman/cards_module.git
[submodule "cards_module"]
	path = sites/all/modules/cards
	url = https://github.com/jillkuchman/cards_module.git
